<script src="Paging.js" type="text/javascript"></script>

<div>
    <table id="example" width="100%">
    </table>
</div>

<script type="text/javascript">
class Test
    {
        constructor(a, b, c)
        {
            this.firstName = a;
            this.lastName = b;
            this.aga = c;
        }
    }

    var logList = new Array();
    var searchTerms = new Map()

    searchTerms.set("First Name", 0);
    searchTerms.set("Last Name", 1);
    searchTerms.set("Age", 2);
    searchTerms.set("Extra", 0);
    searchTerms.set("da", 1);

    for(var i = 1; i < 102; i++)
    {
        logList.push(new Test("Billy", "Mumby", i));
        logList.push(new Test("Robert", "Bennett", i + 100));
    }

    var headers = ["First Name", "Last Name", "Age"];
    var paging = new Paging(logList, "example", headers, searchTerms,
        (dataObj, table) => { 
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.innerHTML = dataObj.firstName;
            tr.appendChild(td);
            
            var td = document.createElement("td");
            td.innerHTML = dataObj.lastName;
            tr.appendChild(td);

            var td = document.createElement("td");
            td.innerHTML = dataObj.aga;
            tr.appendChild(td);

            table.appendChild(tr);
        });
</script>